*{
    margin: 0px;
    padding: 0px;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.todoMain{
    background-image: radial-gradient(circle at 30% 94%, rgba(245, 245, 245,0.06) 0%, rgba(245, 245, 245,0.06) 50%,rgba(21, 21, 21,0.06) 50%, rgba(21, 21, 21,0.06) 100%),radial-gradient(circle at 59% 19%, rgba(248, 248, 248,0.06) 0%, rgba(248, 248, 248,0.06) 50%,rgba(87, 87, 87,0.06) 50%, rgba(87, 87, 87,0.06) 100%),radial-gradient(circle at 7% 11%, rgba(148, 148, 148,0.06) 0%, rgba(148, 148, 148,0.06) 50%,rgba(254, 254, 254,0.06) 50%, rgba(254, 254, 254,0.06) 100%),linear-gradient(90deg, #3581d7,#0052D4);
    /* width: 100%;     */
    padding: 20px;
    background-size: cover;
    height: 100vh;

}
.contaier{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 30px;
    flex-direction: column;
}
.main{
    width: 70%;
    padding: 20px;
    border-radius: 4px;
    background-color: #cee8fb;
    text-align: center;
    display: flex;
    justify-content: center;
    
    
}
.btn{
    background-color: #3581d7;
    border-top-right-radius:10px ;
    border-bottom-right-radius:10px ;
    color: #F5F5F5;
    font-size: 16px;
    display: flex;
    align-items: center;

}
.btn:hover{

    cursor: pointer;
}

::placeholder{
    color: black;
    font-size: 14px;
    padding: 8px;
}
.textinput{

    padding: 13px;
    width: 80%;
    border: 4px solid #3581d7;
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;
    
    font-size: 20px;
    color: #000;


}
.textinput:focus{
    outline: none;
}
.btn1{
    
    color: #000;
    background: transparent;
    font-size: 28px;
    margin: 7px;
    cursor: pointer;
    border: none;

}



.btn2{
    font-size: 21px;
    cursor: pointer;
    color: #000;
    background: transparent;
    margin: 7px;
    border: none;

    

}
.not-main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    
}


#Second-main{


    list-style: none;
    width: 60%;
 
 
    
}

#ulinput{

    display: flex;
    justify-content: space-between;
    
    border-radius: 5px;
    background-color:		#F5F5F5;
    margin: 10px;


}

.delbtn{

    
    padding: 3px 2px 0px 2px;
    background-color: #cee8fb;
    margin: 4px;
    font-size: 19px;
    color: #0052D4;
    border: none;
    border-radius: 20px;
}
.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}
.delbtn:hover{
    cursor: pointer;
}
.editbtn{
    padding: 3px 3px 0px 3px;
    font-size: 18px;
    background-color: #cee8fb;
    border: none;
    color: #0052D4;
    border-radius: 20px;
}
.editbtn:hover{
    cursor: pointer;
}
.fa-edit{
    color: #0052D4;
    font-weight: 600;
    font-size: 17px;
}
.fa-times{
    padding: 2px;
    font-size: 17px;
    color: #0052D4;
    border: none;
}
.fa-check{
    font-size: 17px;
    padding: 4px;
    color: #0052D4;

}
#delete:hover{
    cursor: pointer;
}
#delete{
    
    margin: 2px;
    border: none;
    background-color: #cee8fb;
    border-radius: 20px;
}
.done{
    color: 	#707070   ;
    text-decoration: line-through;
    opacity: 0.9;
    transition: 0.5s;
  
}
#li2{

    font-size: 20px;

    padding: 8px;

}
@media only screen and (max-width:700px){


    .main{
        width: 90%;
    }
    #Second-main{

        width: 80%;
    }
    .formContainer{
        width: 80% !important;
    }

}
@media only screen and (max-width:450px){


    .main{
        width: 100%;
        padding: 10px;
    }
    #Second-main{

        width: 80%;

}
.textinput{
    width: 100%;
    padding: 6px;
}
}
.dashbooard{
    border: 1px solid #cee8fb;
    border-radius: 10px;
    padding: 10px;
    background-color: #cee8fb;

    padding: 20px;


}
.todoicon{
    display: flex;
    align-items: center;
    padding: 4px;
    margin: 5px;
}
.conten h1{
    color:#000;
    font-size: 20px;
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
    
    
}
.conten h5{
    color:#000;
    font-size: 20px;
    font-family: 'Akaya Telivigala', cursive;
    text-align: center;
    

}
.dashbooard{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;

}
.todouserdetails{
    padding: 10px;
}
.todouserdetails h1{

    font-size: 20px;
    padding: 3px;
    font-family: sans-serif;
    font-weight: 700;

}
.todouserdetails p{
    font-size: 15px;
    padding: 4px;

}
.logout{

     
    width: 120px;
    padding: 5px;
    background-color:rgb(0, 82, 212,0.6);
    margin: 4px;
    font-size: 19px;
    color:  #F5F5F5;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}


/* ///signUP// */

.mainSigup{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F0F2F5;
}
.formContainer{

    width: 50%;
    background-color: white;

    border-radius: 10px;
}
.formContainer{
    padding: 10px;
    margin: 10px;

}
.formContainer h1{
    color: #0052D4;
    font-size: 30px;
    margin: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;

}
#outlined-basic{
 padding: 10px;
 margin-bottom: 4px ;

}
.havno{
    text-align: end;
}
.havno a{
    font-size: 14px;
    text-decoration: none;
    font-weight: lighter;
    color: #3581d7;
    transform: .3s;
    
}
.havno a:hover{
    text-decoration: underline;
    color: #0052D4;

}